{% load static %}
    <div class="container mt-5">
        <div class="col-12 px-0">
            <div class="footerOne mx-3">
                <div class="boxShow">
                    <p>
                        برای حمایت از ما لطفا سایت رو معرفی کن
                    </p>
                </div>
                <div class="row pt-5">
                    <div class="col-4">
                        <div class="linksFooter">
                            <h4>لینک ها</h4>
                            <a href="">
                                سایت ژوژه
                            </a>
                            <a href="">
                                ثبت نام
                            </a>
                            <a href="">
                                ورود 
                            </a>
                            <a href="">
                                سایت ژوژه
                            </a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="linksFooter">
                            <h4>لینک ها</h4>
                            <a href="">
                                سایت ژوژه
                            </a>
                            <a href="">
                                ثبت نام
                            </a>
                            <a href="">
                                ورود 
                            </a>
                            <a href="">
                                سایت ژوژه
                            </a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="linksFooter">
                            <h4>لینک ها</h4>
                            <a href="">
                                سایت ژوژه
                            </a>
                            <a href="">
                                ثبت نام
                            </a>
                            <a href="">
                                ورود 
                            </a>
                            <a href="">
                                سایت ژوژه
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="mx-3">
            <div class="xooxeFooter">
                x<span>oo</span>xe
            </div>
            <div class="col-12 px-5">
                <i class="far fa-copyright"></i>
                کپی رایت برای سایت ژوژه محفوظ می باشد.
            </div>
        </footer>
    </div>