{% load static %}
<div class="container mt-5">
        <nav class="navbar">
            <div class="logo col-12">
                <img src="{% static '/img/1.png' %}" alt="">
                <span class="title">
                    <h1>بلاگ آموزشی ژوژه</h1>
                </span>
                <span class="enTitle">
                    میخوای راجب کلمه <b>ژوژه</b> بیشتر بدونی؟
                </span>
            </div>
            <div class="linksTop">
                <ul class="links">
                    <li class="nav-item active">
                    <a class="nav-link" href="#">صفحه اصلی <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">تیم ژوژه<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">تماس با ما<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">ثبت نام<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">ورود<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <div class="usersTop">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          پنل کاربری
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">پنل کاربری</a>
                          <a class="dropdown-item" href="#">ویرایش پروفایل</a>
                          <a class="dropdown-item" href="#">خروج</a>
                        </div>
                      </div>
                </div>
            </div>
        </nav>
    </div>