{% load static %}
<div class="container mt-5">
        <nav class="navbar">
            <div class="logo col-12">
                <img src="{% static '/img/1.png' %}" alt="">
                <span class="title">
                    <h1>بلاگ آموزشی ژوژه</h1>
                </span>
                <span class="enTitle">
                    میخوای راجب کلمه <b>ژوژه</b> بیشتر بدونی؟
                </span>
            </div>
            <div class="linksTop">
                <ul class="links">
                    <li 
                        {% if '/' == request.path %}
                            class="nav-item active"
                        {% else %}
                            class="nav-item"
                        {% endif %}
                    >
                    <a class="nav-link" href="{% url 'index' %}">صفحه اصلی </a>
                    </li>
                    <li 
                        {% if 'about' in request.path %}
                            class="nav-item active"
                        {% else %}
                            class="nav-item"
                        {% endif %}
                    >
                        <a class="nav-link" href="{% url 'about' %}">تیم ژوژه</a>
                    </li>
                    <li 
                        {% if 'contact' in request.path %}
                            class="nav-item active"
                        {% else %}
                            class="nav-item"
                        {% endif %}
                    >
                        <a class="nav-link" href="{% url 'contact' %}">تماس با ما</a>
                    </li>
                    <li 
                        {% if 'register' in request.path %}
                            class="nav-item active"
                        {% else %}
                            class="nav-item"
                        {% endif %}
                    >
                        <a class="nav-link" href="{% url 'register' %}">ثبت نام</a>
                    </li>
                    <li 
                        {% if 'login' in request.path %}
                            class="nav-item active"
                        {% else %}
                            class="nav-item"
                        {% endif %}
                    >
                        <a class="nav-link" href="{% url 'login' %}">ورود</a>
                    </li>
                </ul>
                <div class="usersTop">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          پنل کاربری
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">پنل کاربری</a>
                          <a class="dropdown-item" href="#">ویرایش پروفایل</a>
                          <a class="dropdown-item" href="#">خروج</a>
                        </div>
                      </div>
                </div>
            </div>
        </nav>
    </div>