{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <main>
            <div class="row px-3 content">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <section class="post">
                                <div class="imgPost">
                                    <img src="{{ post.thumb.url }}" alt="">
                                </div>
                                <a class="xooxeLink" href="http://" target="_blank" rel="noopener noreferrer"><i class="fas fa-arrow-left"></i>www.xooxe.ir</a>
                                <h2>
                                    <a href="{% url 'posts:detailPost' slug=post.slug %}">
                                        {{ post.title }}
                                    </a>
                                </h2>
                                <p>
                                 {{ post.body }}
                                </p>
                                <b>{{ post.date }}</b>
                                <p class="tags">
                                    <a href="">طراحی</a>
                                    <a href="">پوستر</a>
                                </p>
                                
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <section class="pt-5 circle-1">
            <div class="container pb-5 position-relative">
                <div class="titleSection">
                    برترین مطالب
                </div>
                <div class="titleSectionEng">
                    Most popular views
                </div>
                <div id="demo" class="carousel slide position-relative" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active carousel-item-left">
                            <div class="d-flex">
                                <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column ">
                                        <a href="#" class="introduce pb-3">
                                        <div class="flex-column-1 ">
                                            <h2 class="titleSlider">
                                                    عنوان مطلب اسلایدر تست
                                            </h2>
                                        </div>
                                        <div class="flex-column-2 d-flex">
                                            <div class="information  flex-column pr-5 pt-2">
                                                <p class="text-gray">- تاریخ : <span>۳ شهریور ۹۹</span></p>
                                                <p class="text-gray">بازدید : <span>22</span></p>
                                            </div>
                                        </div>
                                        <span></span>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column ">
                                    <a href="#" class="introduce pb-3">
                                        <div class="flex-column-1 ">
                                            <h2 class="titleSlider">
                                                عنوان مطلب اسلایدر تست
                                            </h2>
                                        </div>
                                        <div class="flex-column-2 d-flex">
                                            <div class="information  flex-column pr-5 pt-2">
                                                <p class="text-gray">- تاریخ : <span>۳ شهریور ۹۹</span></p>
                                                <p class="text-gray">بازدید : <span>22</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column">
                                    <a href="#" class="introduce pb-3">
                                        <div class="flex-column-1 ">
                                            <h2 class="titleSlider">
                                                عنوان مطلب اسلایدر تست
                                            </h2>
                                        </div>
                                        <div class="flex-column-2 d-flex">
                                            <div class="information  flex-column pr-5 pt-2">
                                                <p class="text-gray">- تاریخ : <span>۳ شهریور ۹۹</span></p>
                                                <p class="text-gray">بازدید : <span>22</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>	
                        <div class="carousel-item carousel-item-next carousel-item-left">
                            <div class="d-flex">
                                <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column ">
                                        <a href="#" class="introduce pb-3">
                                        <div class="flex-column-1 ">
                                            <h2 class="titleSlider">
                                                عنوان مطلب اسلایدر تست
                                            </h2>
                                        </div>
                                        <div class="flex-column-2 d-flex">
                                            <div class="pic p1"></div>
                                            <div class="information  flex-column pr-5 pt-2">
                                                <p class="text-gray">- تاریخ : <span>۳ شهریور ۹۹</span></p>
                                                <p class="text-gray">بازدید : <span>22</span></p>
                                            </div>
                                        </div>
                                        <span></span>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column ">
                                    <a href="#" class="introduce pb-3">
                                        <div class="flex-column-1 ">
                                            <h2 class="titleSlider">
                                                عنوان مطلب اسلایدر تست
                                            </h2>
                                        </div>
                                        <div class="flex-column-2 d-flex">
                                            <div class="pic p2"></div>
                                            <div class="information  flex-column pr-5 pt-2">
                                                <p class="text-gray">- تاریخ : <span>۳ شهریور ۹۹</span></p>
                                                <p class="text-gray">بازدید : <span>22</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column">
                                    <a href="#" class="introduce pb-3">
                                        <div class="flex-column-1 ">
                                            <h2 class="titleSlider">
                                                عنوان مطلب اسلایدر تست
                                            </h2>
                                        </div>
                                        <div class="flex-column-2 d-flex">
                                            <div class="information  flex-column pr-5 pt-2">
                                                <p class="text-gray">- تاریخ : <span>۳ شهریور ۹۹</span></p>
                                                <p class="text-gray">بازدید : <span>22</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#demo" data-slide="prev" style="opacity: 1; left: -5%;">
                        <i class="fas fa-chevron-left" style="color:#18A4E0; font-size:30px;"></i>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next" style="opacity: 1; transform: rotate(-180deg); right: -5%;">
                        <i class="fas fa-chevron-left" style="color:#18A4E0; font-size:30px;"></i>
                    </a>               
                </div>
            </div>
        </section>
    </div>

{% endblock %}